<div class="uk-container-expand uk-height-viewport uk-flex-middle uk-flex-center uk-background-default uk-flex">
  <div>
    <h2 class="uk-heading-divider uk-text-bold uk-text-center">Country search by</h2>
    <div class="uk-flex uk-flex-between uk-margin-small-top-top">
      <p uk-margin>
        <a routerLink="searchByName" class="uk-button uk-button-default uk-button-small uk-margin-right">NAME</a>
        <a routerLink="searchByCapitalCity" class="uk-button uk-button-default uk-button-small uk-margin-right">CAPITAL CITY</a>
        <a routerLink="searchByCurrency" class="uk-button uk-button-default uk-button-small">CURRENCY</a>
      </p>
    </div>
  </div>
</div>
