<div class="uk-container-expand uk-height-viewport uk-flex-middle uk-flex-center uk-background-default uk-flex">
  <div>
    <h1 class="uk-heading-divider">Country search by</h1>
    <div class="uk-flex uk-flex-between uk-margin-small-top-top">
      <p uk-margin>
        <button class="uk-button uk-button-default uk-button-small uk-margin-right">NAME</button>
        <button class="uk-button uk-button-default uk-button-small uk-margin-right">CAPITAL CITY</button>
        <button class="uk-button uk-button-default uk-button-small">CURRENCY</button>
      </p>
    </div>
    <div class="uk-flex uk-flex-between uk-search uk-search-default uk-margin-small-top-top">
      <span uk-search-icon></span>
      <input class="uk-search-input uk-sea" type="search" placeholder="Search">
    </div>
    <div class="uk-flex uk-margin-small-top">
      <a class="uk-button-primary uk-button uk-button-small uk-border-rounded">SEARCH</a>
    </div>
  </div>
</div>
